include _mixins
block footer

    //- footer#footer.footer

            .footer__devs
                        a(href="https://di-project.studio/") Разработка сайта
                        span Di-Project.Studio