---
title: vitality | Контакты 
bodyClass: buy-page
bodyStyle: "background: #468A5A"
yandexMap: false
---

extends includes/_page

block main
    section.section-buy.section-contacts.section
        .container   
            .contacts 
                h1.page-title  Контакты
                .contacts__info 
                    p Официальный представитель Vitality в РФ: 
                        span ООО «ГАГАРИН»
                    p Фактический адрес: 
                        span 127018, Россия, г. Москва, Большая Садовая 5 к 1
                    p Юридический адрес: 
                        span 127018, Россия, г. Москва, Муниципальный округ Бутырский, ул. Складочная, д 1, стр. 18, этаж 5, оф. 10/10
                    p ИНН/КПП:  
                        span 9715425907
                .contacts__list 
                    .contacts__item 
                        .contacts__item-icon 
                            include assets/images/telephone.svg
                        .contacts__item-text
                            .contacts__item-title Контактный телефон
                            a(href="tel:+8 (800) 100-45-69").contacts__item-value +8 (800) 100-45-69
                    .contacts__item 
                        .contacts__item-icon 
                            include assets/images/mail.svg
                        .contacts__item-text
                            .contacts__item-title Почта
                            a(href="mailto:info@gagarin.tech").contacts__item-value info@gagarin.tech
                //- .contacts__marquee 
        .contacts__bottom        
            .section-marquee
                .marquee
                    .marquee-content
                        .marquee-item НАУКА
                        .marquee-item
                            .marquee-icon  
                                include assets/images/logo-marq.svg
                        .marquee-item ЗДОРОВЬЕ
                        .marquee-item
                            .marquee-icon 
                                include assets/images/logo-marq.svg
                        .marquee-item ИННОВАЦИИ
                        .marquee-item
                            .marquee-icon 
                                include assets/images/logo-marq.svg
                    .marquee-content
                        .marquee-item НАУКА
                        .marquee-item
                            .marquee-icon 
                                include assets/images/logo-marq.svg
                        .marquee-item ЗДОРОВЬЕ
                        .marquee-item
                            .marquee-icon 
                                include assets/images/logo-marq.svg
                        .marquee-item ИННОВАЦИИ
                        .marquee-item
                            .marquee-icon 
                                include assets/images/logo-marq.svg
            .footer__devs
                    a(href="https://di-project.studio/") Разработка сайта
                    span Di-Project
            


                                    
                                    
