---
title: vitality | Главная
bodyClass: product-page
bodyStyle: "background: #4AA886"
yandexMap: false
---

extends includes/_page

block main
    section.section-product.section
        
            .product 
                .product__slider 
                    .slider-nav-arrow--prev
                        include assets/images/arrow_left.svg
                    .slider 
                        
                        .swiper-wrapper 
                            a(href="product1.html").swiper-slide.product__slide
                                    .product__slide-img 
                                        +img('bio.png')
                            a(href="product2.html").swiper-slide.product__slide
                               
                                    .product__slide-img 
                                        +img('PROD2.png')
                            a(href="product3.html").swiper-slide.product__slide.current 
                                
                                    .product__slide-img 
                                        +img('prod3.png')
                            a(href="product4.html").swiper-slide.product__slide 
                                    .product__slide-img 
                                        +img('prod4.png')
                            a(href="product5.html").swiper-slide.product__slide 
                                
                                    .product__slide-img 
                                        +img('prod5.png')
                            
                            a(href="product6.html").swiper-slide.product__slide 
                                
                                    .product__slide-img 
                                        +img('prod6.png')
                            a(href="product7.html").swiper-slide.product__slide 
                                
                                    .product__slide-img 
                                        +img('prod7.png')
                            a(href="product8.html").swiper-slide.product__slide 
                                
                                    .product__slide-img 
                                        +img('prod8.png')
                            a(href="product9.html").swiper-slide.product__slide 
                                
                                    .product__slide-img 
                                        +img('prod9.png')
                            a(href="product10.html").swiper-slide.product__slide 
                                
                                    .product__slide-img 
                                        +img('prod10.png')
                            a(href="product11.html").swiper-slide.product__slide 
                                
                                    .product__slide-img 
                                        +img('prod11.png')
                            a(href="product12.html").swiper-slide.product__slide 
                                
                                    .product__slide-img 
                                        +img('prod12.png')
                            a(href="product13.html").swiper-slide.product__slide 
                                
                                    .product__slide-img 
                                        +img('prod13.png')
                            a(href="product14.html").swiper-slide.product__slide 
                                
                                    .product__slide-img 
                                        +img('prod14.png')
                            a(href="product15.html").swiper-slide.product__slide 
                                
                                    .product__slide-img 
                                        +img('prod15.png')
                            a(href="product16.html").swiper-slide.product__slide 
                                
                                    .product__slide-img 
                                        +img('prod16.png')
                            a(href="product17.html").swiper-slide.product__slide 
                                
                                    .product__slide-img 
                                        +img('prod17.png')
                                        
                               
                    .slider-nav-arrow--next
                        include assets/images/arrow_right.svg
                .product__inner
                    .product__picture-wrapper
                        .product__picture 
                            +img('prod3.png')
                        .product__shadow(style="")
                            +img('shad3.png')
                    .product__info  
                        .product__title  Calcium magnesium zinc & d3
                        .product__labels 
                            .product__label Кости
                            .product__label Мышцы
                            .product__label Рост
                    
                        .product__text 
                            p  При нервном напряжении и стрессах содержание цинка в организме резко сокращается и требует восполнения. Кальций, магний плюс цинк — это формула, содержащая три минерала в одном и содействующая укреплению нервной системы и мышц.
                            p Наш БАД - это очень сильный комплекс кальция, магния, цинка и витамина Д3, оказывающий позитивный эффект на организм, усиленный добавлением минералов.