---
title: vitality | Главная
bodyClass: buy-page

yandexMap: false
---

extends includes/_page

block main
    section.section-buy.section
       .container   
        .buy    
            .buy__info    
                h1.page-title Где купить
                .buy__list 
                    .buy__item 
                        .buy__item-name Аптечная сеть 36,6 
                        .buy__item-text «Аптечная сеть 36,6» – лидер в Московском регионе и одна из крупнейших аптечных сетей в стране. Компания существует почти три десятилетия, развивается и укрепляет свои позиции.
                    .buy__item 
                        .buy__item-name Интернет-аптека Горздрав
                        .buy__item-text «Горздрав» – это сеть аптек с честными ценами. С 1991 года стремится максимально сократить путь лекарств от производителя к потребителю, чтобы обеспечить миллионы россиян качественными и доступными медикаментами.
                    .buy__item 
                        .buy__item-name Сеть аптек А5
                        .buy__item-text Сеть аптек А5 включает в себя более 112 пунктов в более чем 35 городах России, одна из крупнейших сетей страны.
            .buy__picture 
                +img('where.png')